.garis_vertikal {
	color: goldenrod;
	margin-top: 7px;
}

ul.navbar-nav a:hover {
	color: goldenrod !important;
}

ul.navbar-nav a {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: bold;
}


/* slider */
.carousel-item {
	height: 600px;
}

.carousel-item img {
	margin-top: -100px;
}

.carousel-item .display-4 {
	margin-top: -340px;
}

.carousel-caption a {
	width: 230px;
	border-radius: 0%;
	margin-top: 30px;
	font-family: Arial, Helvetica, sans-serif;
}

.carousel-caption a:hover {
	color: black;
	width: 230px;
	font-weight: bold;
}

.btn_carousel_daftar {
	color: white;
	width: 230px;
	margin-right: 40px;
	background-color: goldenrod;
}

.btn_carousel_masuk {
	color: goldenrod;
	width: 230px;
	margin-left: 40px;
	background-color: white;
}

.carousel-control-prev-icon {
	width: 30px;
	height: 70px;
	margin-top: 25px;
}

.carousel-control-next-icon {
	width: 30px;
	height: 70px;
	margin-top: 25px;
}

.carousel-indicators li {
	width: 40px;
	height: 10px;
	background-color: goldenrod;
}

/* akhir slider */

/* rekomendasi */
#rekomendasi {
	margin-left: 30px;
	margin-right: 30px;
}

.gambar_rekomendasi {
	width: 100%;
	height: 300px;
	border-radius: 5%;
}

.btn_rekomendasi {
	background-color: rgb(228, 0, 0);
	width: 150px;
	color: white;
	outline: none;
}

.btn_rekomendasi:hover {
	width: 150px;
	font-weight: bold;
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	outline: none;
}

/* akhir rekomendasi */

/* modal */
#exampleModalLabel {
	font-size: 22px;
	color: goldenrod;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#harga_modal {
	color: red;
	text-align: left;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.modal-footer button {
	width: 140px;
}

/* akhir modal */

/* loker */
#loker {
	height: 500px;
	background-color: white;
}

.gambar_loker {
	height: 500px;
}

.btn_merah {
	background-color: red;
	color: white;
	font-weight: bold;
}

.btn_merah:hover {
	background-color: rgb(184, 3, 3);
	color: white;
	font-weight: bold;
}

/* akhir loker */

/* Atas footer */
#atas_footer {
	height: 400px;
}

.list_about {
	color: rgb(151, 151, 151);
	font-size: 16px;
	padding-top: 5px;
	text-decoration: none;
}

.list_about:hover {
	color: rgb(255, 187, 0);
	font-size: 16px;
	text-decoration: none;
}

.gambar_footer {
	height: 180px;
	width: 80%;
}

.logo {
	font-size: 25px;
}

#facebook {
	color: rgb(0, 0, 192);
}

#instagram {
	color: rgb(255, 29, 29);
}

#twitter {
	color: rgb(66, 66, 255);
}

#youtube {
	color: rgb(216, 0, 0);
}

#email {
	color: rgb(175, 22, 22);
}

/* Bawah footer */

/* footer */
footer {
	color: rgb(82, 82, 82);
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 14px;
	background-color: rgb(240, 240, 240);
}

#kebijakan,
#syarat {
	color: rgb(82, 82, 82);
	text-decoration: none;
	font-size: 16px;
}

#kebijakan:hover,
#syarat:hover {
	font-size: 16px;
	color: rgb(255, 187, 0);
	text-decoration: none;
}



/* media query home */

/* smartphone */
@media (max-width:575.98px) {
	.garis_vertikal {
		visibility: hidden;
	}

	.carousel-item img {
		height: 600px;
	}

	ol li {
		margin-top: -110px;
	}

	#rekomendasi {
		margin-top: -100px;
	}

	.btn_rekomendasi {
		display: inline;
		width: 110px;
		font-size: 14px;
	}

	#atas_footer {
		margin-top: 330px;
	}

	#row_logo .col-lg-3 {
		margin-top: 3px;
	}

	#text_sosmed {
		visibility: hidden;
		margin-bottom: -165px;
	}

	#email {
		position: relative;
		/* margin-bottom: 400px; */
	}

	footer {
		margin-top: 300px;
		padding-bottom: 15px;
	}

	#pt_suryadi {
		text-align: center;
	}
}

/* tab */
@media (min-width: 576px) and (max-width: 991.98px) {
	.garis_vertikal {
		visibility: hidden;
	}

	.carousel-item img {
		height: 600px;
	}

	.btn_carousel_daftar {
		margin-left: -10px;
	}


	ol li {
		margin-top: -120px;
	}

	#rekomendasi {
		margin-top: -90px;
	}

	.btn_rekomendasi {
		display: block;
		width: 140px;
		font-size: 14px;
		margin-right: 4px;
	}

	.card-body h5 {
		text-align: center;
	}

	#atas_footer {
		margin-top: 230px;
	}

	#row_logo .col-lg-3 {
		margin-top: 3px;
	}

	#text_sosmed {
		visibility: hidden;
		margin-bottom: -165px;
	}

	footer {
		margin-top: 300px;
		padding-bottom: 15px;
	}

	#pt_suryadi {
		text-align: center;
		margin-top: 5px;
		margin-bottom: 5px;
	}
}
